HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/log/activityLogs.log
/logs/activityLogs.log
/log/activityLogs-24-04-09_12-51.1.log
/log/activityLogs-24-04-09_12-52.0.log
/logs/activityLogs-24-04-09_14-48.0.log
/logs/activityLogs-24-04-09_14-49.0.log
/logs/activityLogs-24-04-09_14-50.0.log
/logs/activityLogs-24-04-09_14-53.0.log
/logs/activityLogs-24-04-09_14-55.0.log
/logs/activityLogs-24-04-09_14-56.0.log
/logs/activityLogs-24-04-09_14-57.0.log
